#hero-header {
    /* width: 100vw; */
    height: 100vh;
    /*box-shadow: 3px 3px 2px #bebebe;
  /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Texy style */
    text-align: center;
    color: white;
    /* Background image */
    background-image: url("~/lib/homebg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    margin-top:8%;
}

#hero-title {
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;

}

#hero-text {
    font-size: 1.5vw;
    margin-top: 1%;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin-left: 15%;
    margin-right: 15%;
}

#hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 1%;
    width: 15%;
    height: 4vh;
    font-size: 2vh;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    margin-left: 35%;
    margin-right: 35%;
}

    #hero-button:hover {
        cursor: pointer;
    }
